{{define "body" -}}
---
import Layout from "../../layouts/Layout.astro";
import PicComp from "../../components/SingleFoto.astro";
{{ range .Pictures -}}
import pic{{.ImgNum}} from "../../images/{{.FolderName}}/{{.ImgName}}";
{{end -}}	
---

<Layout pageTitle="{{.Title}}">
  <main>
    <ul role="list" class="link-card-grid">
      {{ range .Pictures -}}
      <PicComp picToShow={pic{{.ImgNum}}} />
      {{end -}}	
    </ul>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
{{end}}	